$crete: #477F2D;
// $crete: rgba(71, 127, 45, 0.856);

// body {
//   font-family: 'IBM Plex Sans', sans-serif;
// }

main,
header {
  margin-bottom: 1vh;
}

article {
  margin: 1em 0;
}

section {
  .jumbotron {
    margin-bottom: 1vh;
  }
}

.modal-backdrop {
  z-index: 0;
}

footer {

  a,
  a:hover {
    text-decoration: none;
  }

  a {
    margin: 0.3em 0;
    color: grey;
  }

  a:hover {
    color: $crete;
  }
}

.btn {
  padding: .2rem .5rem;
}

.navbar-fixed-top {
  z-index: 9999;
}

.fixed-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  z-index: 2;

  .logo {
    width: 75px;
  }

  .logo-name {
    color: white;
    font-size: 16pt;
    display: inline-block;
    // transform: translateY(40%);
    align-self: center;
    width: 120px;
    margin-top: 0;
    line-height: 1;
    margin-left: 10px;
    margin-right: auto;
  }

  .navbar-link {
    font-weight: bolder;
    // text-shadow: grey 1px 1px;
    text-decoration: none;
    color: white;
    margin: 0 1vw;
    border: none;
  }

  .navbar-link:hover {
    background: $crete;
  }
}

.current-page {
  border-bottom: 5px solid $crete;
  color: white;
  text-align: center;
  padding-top: 5px;
  font-weight: bolder;
  // cursor: default;
}

.current-page:hover,
.current-page:active,
.current-page:focus {
  text-decoration: none;
  color: white;
}

.subpage-tint {
  position: absolute;
  height: 60vh;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.sub-header-image {
  position: relative;

  img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .sub-header-location {
    position: absolute;
    bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
    margin-bottom: 10px;
    color: white;
    border-top: 3px solid white;
    z-index: 1;
  }
}

.btn-info {
  background: white;
  color: $crete;
  border: none;
  font-weight: bolder;

}

.btn-info:hover {
  background: white;
  color: $crete;
}

.three-links {
  background: $crete;

  .flex-links {
    display: flex;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18pt;
    padding: 10px;
    color: white;
    text-transform: uppercase;
  }

  button {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18pt;
    padding: 10px;
    text-transform: uppercase;
    border: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.btn-outline-secondary {
  color: $crete;
  border-color: $crete;
  font-weight: bolder;
}

.btn-outline-secondary:hover {
  background: $crete;
  border-color: $crete;
  color: white;
}

.z-index-4 {
  z-index: 4;
}

input.form-control,
textarea.form-control {
  border-color: $crete;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

textarea.form-control:active,
textarea.form-control:focus,
input.form-control:active,
input.form-control:focus {
  border-color: $crete;
}

// Honeypot
#honeypot {
  display: none;
  /*makes the field not visible to humans*/
}

.alert-danger.email-invalid {
  padding: .25rem;
  margin-bottom: 0;
}

.email-invalid {
  color: red;
}

.mobile-margin-top {
  margin-top: 5rem;
  content: "";
}

// Hamburger Menu
label {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 50px;
    height: 50px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    transition: .2s ease-in-out;
    // box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }

  .hamburger {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 30px;
    height: 3px;
    background: $crete;
    display: block;
    transform-origin: center;
    transition: .2s ease-in-out;

    &:after,
    &:before {
      transition: .2s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: $crete;
    }

    &:before {
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }
  }

  input {
    display: none;
  }

  input:checked+.menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;

    .hamburger {
      transform: rotate(45deg);

      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }

      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

  input:checked+.menu+ul {
    opacity: 1;
  }

  ul {
    z-index: 200;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
  }

  a {
    margin-bottom: 1em;
    // display: block;
    color: #000;
    text-decoration: underline;
  }
}


@media only screen and (max-width: 768px) {
  .copyright-links {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

a.navbar-brand {
  font-size: .9rem;
  img.navbar__logo {
    width: 30px;
  }
}

// bootstrap dismissable alert fixed at bottom
.alert--fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  margin-bottom: 0px;
  border-radius: 0px;
  text-align: center;
}
